
.informaction_box-image img {
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
}

.informaction_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media (max-width: 830px) {
    .informaction_box-image img {
        width: 30%;
    }
    .informaction_box-text p {
        font-size: 14px;
    }
}
