.gallery_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 10px;
 
}
.gallery_box_other {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    transition: all 0.5s;
 
}
.gallery_box img {
    padding: 5px;
    object-fit: cover;
    object-position: center;
    height: 40vh;   
}
.gallery_box_other:hover {
    opacity: 0.8;
    transform: scale(1.1);
}