.gallery{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.gallery_text {
    font-size: 30px;
    text-align: center;
    color: #777777;
    flex-basis: 5vh;
    line-height: 5vh;
    
}
.upside {
    transform: rotate(180deg);
}
.gallery-box {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-around;
}

.gallery-box>div {
    flex-basis: 21%;
    padding: 10px;
   
}
.gallery-box img {
    width: 100%;
}
@media( max-width:1024px) {
    .gallery-box>div {
        flex-basis: 31%;      
}
}

@media( max-width:870px) {
    .gallery-box>div {
        flex-basis: 45%;      
}
}
@media( max-width:670px) {
    .gallery-box>div {
        flex-basis: 51%;        
}
}

.stool {
    background-color: rgb(225, 242, 248);
}
.bench {
    background-color: rgb(175, 247, 211);
}

.stump {
    background-color: lightgray;
}
.table_big {
    background-color: rgb(231, 233, 233);
}
.other {
    background-color: rgb(204, 225, 247);
}
