.gallery_box_wood {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
    background-color: #ceb79d;
    padding: 10px 0;   
}
.gallery_box_wood img {
    padding: 5px;
    max-width: 100%;
    width: 360px;  
}
.bench {
    background-color: rgb(175, 247, 211);
}
.stool {
    background-color: rgb(225, 242, 248);
}
.stump {
    background-color: lightgray;
}
.table_big {
    background-color: rgb(231, 233, 233);
}
.other {
    background-color: rgb(204, 225, 247);
}
/* style kontakt */
.contact_box {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.contact_box_form {
    text-align: center;
}
.contact_box img {
    width: 40%;
}
.contact_box_form p {
    font-size: 20px;
}
