
.gallery_container{
   display: flex;
   
}
.gallery_container div img {
    height: 200px;
}
.gallery_container div {
 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery_box-image {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}
.gallery_box-text {
    text-transform: uppercase;
}


