#galeria {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 100vh;
}
@media( max-width:1360px) {
    #galeria{
   height: 100%;
}
}
.container_gallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center; 
}
.container_gallery img {
    height: 30vh;
   
}
.container_gallery div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all,0.5s;
}
.container_gallery div:hover {
    opacity: 0.5;
    transform: scale(1.1);
}
.gallery_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 10vw;
}
.gallery_box-image {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap-reverse;
   justify-content: center;
   align-content: center;
}

.gallery_box-text {
    text-transform: uppercase;
    font-size: 36px;
}

@media(max-width:420px){
    .gallery_box-text {
        font-size: 20px;
    }
}


