.main_banner {
   background-image: url(galeria/1.JPG);
   height: 100vh;
   background-position: center center;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}
.main_baner_button {
    border: 2px solid white;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.main_baner_button:hover {
    background-color: black;
}