.contact {
  height: 100vh;
}

.container_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  font-weight: bold;
}
.container_contact-box {
  width: 100%;
  display: flex;
  padding-top: 2%;
  justify-content: center;
  align-items: center;
}
.container_contact-box-text {
  text-align: center;
  font-size: 20px;
}
.container_contact-box-mail,
.container_contact-box-telephon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
}
.container_contact-box-mail p {
  padding-left: 3%;
}
.container_contact-box-mail img {
  width: 60%;
}
.container_contact-box-telephon img {
  width: 30%;
}
.container_contact-box-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 5% 0;
}

@media (max-width: 650px) {
  .container_contact-box-img img:nth-child(2) {
    display: none;
  }
  .container_contact-box-text {
    padding: 0 5%;
  }
  .container_contact-box {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .container_contact-box-mail {
    padding-left: 5%;
  }
}
